@import "../../../styles.scss";

.card {
  width: 85%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding: 2rem;

  @media (max-width: 750px) {
    width: 70%;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;

  @media (max-width: 750px) {
    flex-direction: column;
    text-align: center;
  }
}

.vertical-line {
  border-left: 1px solid $lightGray;
}

.details-container {
  padding: 0.5rem;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  color: $gray;
  font-size: 0.7rem;
}

p {
  font-size: 1.3rem;
  word-break: break-all;
  margin: 0.7rem 0 0.5rem 0;
}
